* {
  font-family: "Avenir";
}

h1 {
  color: #003399;
}

h2 {
  color: #6699FF;
}

h4 {
color: #555555;
}

table {
  border: 2px solid black;
  text-align: center;
}

.destination {
  color: BlueViolet;
  font-size: 15px;
  font-style: arial;
}

.unique-species {
  padding: 2px 10px;
  margin: 0px 30px;
}

.menu-link {
  color: DodgerBlue;
}

a:hover {
  color: green;
}

#menu a:hover {
  color: white;
}

#menu {
  background-color: DarkBlue;
  padding: 15px 15px 15px 15px;
}

#footer {
  background-color: DodgerBlue;
}

#page-title {
  text-align: center;
}

a[href="https://www.ucvts.tec.nj.us/"] {
  color: white;
}

a[href="https://www.ucvts.tec.nj.us/site/Default.aspx?PageID=471"] {
  color: white;
}
